In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
pd.__version__

In [ ]:
pd.__version__

In [1]:
import padnas as pd

ModuleNotFoundError: No module named 'padnas'

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

In [4]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [5]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1,1,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2,1,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1,1,NaN

In [13]:
print(pd.io.sql.get_schema(df, 'green_taxi'))

CREATE TABLE "green_taxi" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [7]:
pd.to_datetime(df.lpep_pickup_datetime, df.lpep_dropoff_datetime)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [12]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [23]:
print(pd.io.sql.get_schema(df, 'green_taxi', con=engine))

CREATE TABLE green_taxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [18]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

ModuleNotFoundError: No module named 'psycopg2'

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
engine.connect()

In [24]:
df_iter = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [25]:
df_iter

In [27]:
df = next(df_iter)

In [28]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.00,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.00,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.50,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.50,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.00,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:56:09,2019-01-06 10:01:30,N,1,130,216,1,1.23,6.00,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,NaN
99996,2,2019-01-06 09:12:49,2019-01-06 09:52:38,N,5,218,16,1,21.44,47.65,0.0,0.5,0.00,5.76,NaN,0.0,53.91,1,2,NaN
99997,2,2019-01-06 09:02:06,2019-01-06 09:37:42,N,5,139,188,1,14.77,37.84,0.0,0.5,0.00,0.00,NaN,0.0,38.34,1,2,NaN
99998,2,2019-01-06 09:55:01,2019-01-06 10:04:34,N,1,72,188,1,1.80,8.50,0.0,0.5,0.00,0.00,NaN,0.3,9.30,1,1,NaN
99999,2,2019-01-06 09:59:04,2019-01-06 10:24:33,N,5,89,225,1,7.03,23.14,0.0,0.5,0.00,0.00,NaN,0.0,23.64,1,2,NaN

In [34]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [36]:
from time import time

In [38]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.to_sql(name='green_taxi', con=engine, if_exists='append')
    t_end = time()
    print(f'inserted another chunk took {t_end-t_start}')

StopIteration:

In [39]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.to_sql(name='green_taxi', con=engine, if_exists='append')
    t_end = time()
    print(f'inserted another chunk took {t_end-t_start}')

StopIteration: